@import '../../../../styles/variables.scss';

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
  width: 100%;
  background:var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(#{--card-background-default});
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  transition: 0.3s;

  .day {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 22px;
    color: var(#{--text-color-default});
  }

  .day_info {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 17px;
    color: $base-color
  }

  .img {
    margin-bottom: 13px;
    width: 48px;
    height: 48px;
  }

  .temp_day {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(#{--text-color-default});
  }

  .temp_night {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $base-color;
    margin-bottom: 6px;

  }

  .info {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $base-color;
    margin-bottom: 6px;
  }


}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.cancel,
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.5);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(#{--components-background-default});
  font-size: 18px;
  color: var(#{--text-color-default});
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.selectedTab {
  background-color: $primary-color;
  color: white
}

.tab {
  &:active {
    background: $primary-color;
    color: #fff;
    opacity: 0.5;
  }
}

.forecastContainer {
  display: flex;
  flex-direction: row;

  :not(:last-child) {
    margin-right: 15px;
  }
}

.tabsWrapper {
  display: flex;
  width: 100%;

  :not(:last-child) {
    margin-right: 15px;
  }
}